@model ChessRoute.Web.Models.ChessParameterModel

<div>
    <div id="chessBoard1" style="width: 400px"></div>

    <div style="float:right">
        @using (Ajax.BeginForm("SolveRoute", "Chess", new AjaxOptions() { HttpMethod = "Get" })) { 
            @Html.EditorForModel()
        }
        
    </div>
    <img src="~/Images/ChessPieces/bB.png" />

</div>

@section scripts {
    @Styles.Render("~/Content/chess")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chess")

    <script type="text/javascript">
        var board = null;

        $(document).ready(function () {
            var cfg = {
                draggable: true,
                dropOffBoard: 'snapback', // this is the default
                position: 'start',
                pieceTheme: 'Images/ChessPieces/{piece}.png'
            };

            board = new ChessBoard('chessBoard1', cfg);
        });
    </script>
}